body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #282c34;
    color: #61dafb;
}

.clock {
    display: flex;
    font-size: 3em;
    font-family: 'Arial', sans-serif;
}

.time {
    padding: 0 10px;
}

.time-divider {
    align-self: flex-end;
}
